@mixin budget {
    background: var(--theme-secundary-color);
    border: solid 3px var(--theme-primary-color);
    position: absolute;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    span {
        background: var(--theme-primary-color);
        color: var(--theme-secundary-color);
        font-family: var(--theme-font-abel);
        font-size: 1.25rem;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
